---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
# color-profile datalist merged with forked file.
---
@charset "UTF-8";

@import 'normalize';
@import 'general';
@import 'general_additions';
@import 'utilities';
@import 'icon';
@import 'icon-social';
@import 'main';
@import 'main_additions';
@import 'post';
@import 'post_additions';
@import 'index-page';
@import 'about-page';
@import 'prism_original'; // 開発者モードのPrismのCSSは、オリジナルに配置する
@import 'prism_customize'; // 現サイトの環境に合わせるための修正は、カスタマイズに記述する
@import 'author';
@import 'media1080';
@import 'media1080_additions';
@import 'media780';
@import 'media780_additions';
@import 'media500';
@import 'photoswipe';
@import 'photoswipe-default-skin';
@import '404';
@import 'override';
