---
layout:  default
sitemap: false
---

<div id="content" class="content">

<h3>Draft Posts</h3>
<ul class="category recent-posts">
  {% for post in site.posts %}
  {% if post.draft %}

  <li>
    <div class="article">
    <a itemprop="name" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.menutitle | default: post.title }}">
    <article class="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <span class="title">{{ post.menutitle | default: post.title }}</span>
        <time class="date" itemprop="datePublished" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{post.date | date: "%B %e, %Y"}}</time>
      </header>
    </article>
    </a>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>

</div><!-- end #content -->
