{%- if page.cover %}
{%- assign cover = page.cover %}
{%- elsif site.cover %}
{%- assign cover = site.cover %}
{%- endif %}
<header
  class="main-header detail-page image-bg {% if cover %} has-cover"
  style="background-image: url({{ cover | prepend: site.baseurl }})" {% else %} no-cover" {% endif %}
>
  <h1 class="page-title"><a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a></h1>
  <h2 class="page-description">{{ site.subtitle }}</h2>
  <div class="nav">
    <ul>
      <li><a class="page-link" href="{{ site.baseurl }}/" title="Home">Home</a></li>
      <li><a class="page-link" href="{{ site.baseurl }}/privacy/" title="Privacy">Privacy</a></li>
      <li><a class="page-link" href="{{ site.baseurl }}/about/" title="About">About</a></li>
    </ul>
  </div>
</header>
