
{%- if page.syntaxhighlight != false %}
<!-- Syntax Highlight -->
<script src="{{ site.baseurl }}/js/prism.js"></script>
{%- endif -%}

{%- if page.photoswipe %}
<!-- Photo Swipe -->
<script src="{{ site.baseurl }}/js/photoswipe.js"></script>
<script src="{{ site.baseurl }}/js/photoswipe-ui-default.js"></script>
{%- endif %}

<!-- Main -->
<script src="{{ site.baseurl }}/js/post.js"></script>

<!-- Disqus -->
<script type="text/javascript">
  var config = {
    'disqus_shortname': '{{ site.disqus_shortname }}'
  };
</script>

<!-- Prism -->
<script type="text/javascript">
  // Bashの字句解析でPromptの部分「$」「~$」「~]#」「%」「[servername]$」もtokenにする。
  Prism.languages.insertBefore('bash', 'comment', {
    'prompt': /^(?:\~\]?|\[[^\]]+\])[#$] |^[\$%] /m,
  });
  // PowerShellの字句解析でPromptの部分「PS>」もtokenにする。
  //（デフォルトだとPSがfunctionと判定されるので、insertBeforeで先に評価する）
  Prism.languages.insertBefore('powershell', 'function', {
    'prompt': /^(?:PS> |>> )/m,
  });
  Prism.languages.vb = Prism.languages.vbnet; // Markdownで言語が「vb」のとき、Prism.jsの「vbnet」を適用する
  Prism.languages.ps1 = Prism.languages.powershell; // 「ps1」のとき、Prism.jsの「powershell」を適用する
</script>
