<!-- Twitter data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@tex2e">
<meta name="twitter:creator" content="@tex2e">
<!-- <meta property="twitter:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace: '/index.html','/' }}">
<meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/web-optim.png"> -->
<!-- End: Twitter data -->
