@charset "UTF-8";

/* some data is duplicated from other files to allow an easy merge of updates 
   from the forked theme without destroying the css for this page */

.category {
    width: 90%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
    margin-bottom: 20px; //50px;
    padding: 0;

    li {
        margin-bottom: 8px;
        list-style-type: none;
    }

    .article {
        text-align: left;

        .post-header {
            overflow: hidden;
            border-bottom: 1px solid #eeeeee;
            margin-bottom: 10px;
        }

        .title a {
            text-decoration: none;
        }

        .date {
            float: right;
            font-size: 12px;
            text-transform: uppercase;
            color: rgba(0,0,0,0.2);
            line-height: 24px;
            margin-top: 7px;
            margin-bottom: 0;
        }
    }
}

// -----------------------------------------------------------------------------
// My Custom CSS

h3.category-title {
    padding: 1.2em 0 0 0;
}

// Navigation
nav {
    // display: none;
    opacity: 1;
    position: fixed;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: right;
    z-index: 100;
}
nav.active {
    opacity: 0;
}
nav a {
    display: block;
    line-height: 13px; //25px;
    position: relative;
    padding-right: 16px; //20px;
    font-size: 12px;
    color: rgba(50, 50, 50, 0.9);
    text-decoration: none;
}
nav a:hover,
nav a:visited,
nav a:active {
    text-decoration: none;
}
nav a:hover .nav-label {
    opacity: 1;
    visibility: visible;
    color: rgba(50, 50, 50, 0.9);
}
nav .nav-dot {
    display: block;
    width: 3px;
    height: 3px;
    position: absolute;
    right: 0;
    top: 50%;
    background-color: rgba(50, 50, 50, 0.9);
    border-radius: 100%;
    transition: all 0.3s;
}
nav .nav-dot.active {
    top: 30%;
    width: 6px;
    height: 6px;
    background-color: rgb(36, 141, 43);
}
nav .nav-label {
    display: block;
    opacity: 0.7;
    -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
            transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    width: auto;
    list-style: none;
}
@media screen and (max-width:850px) {
    nav {
        visibility: hidden;
    }
}
