@charset "UTF-8";

// header
.main-header {
    margin-bottom: 40px;
    padding-top: 10rem;
    background-size: cover;
    background-position: center;

    &.has-cover {
        .page-title,
        .page-title a,
        .page-description,
        .nav a {
            color: $color-white;
            text-shadow: 1px 1px 5px rgba($color-black, 0.5);
        }

        .nav {
            &:before, &:after {
                background: linear-gradient(to right, rgba($color-white, 0) 0%,rgba($color-white, 1) 50%,rgba($color-white, 0) 100%);
            }
        }
    }

    .nav,
    .page-title,
    .page-description {
        width: 90%;
        max-width: 700px;
        margin: auto;
    }

    .nav {
        margin: 40px auto 50px;
        padding-bottom: 20px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            min-width: 80px;
            margin: 5px;
            display: inline-block;
            font-size:  16px;
            text-transform: uppercase;
        }
    }

    .page-title {
        margin: 0 auto 15px;
        a {
            font-family: Mrs Saint Delafield;
            font-size: 50px;
            text-decoration: none;
            text-shadow: 1px 1px 5px rgba($color-black, 0.3);
        }
    }

    .page-description {
        font-size: 18px;
        font-weight: normal;
        font-style: italic;
        // font-family: 'Merriweather', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
        color: rgba($color-text-header, 0.8);
    }
}

.nav:before,
.nav:after,
.site-footer:before,
.author-info:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba($color-black,0) 0%,rgba($color-black,1) 50%,rgba(0,0,0,0) 100%);
}

// post list
.post-title {
    font-size: 3.6rem;
}

.post-excerpt, .post-content {
    text-align: left;
}

.post-meta {
    margin-bottom: 20px;
    font-style: italic;
    a {
        text-decoration: underline;
        font-size: 15px;
        color: #666666;
    }
}

.post-excerpt {
    p {
        text-indent: 2em;
        margin-bottom: 10px;
    }

    .read-more {
        font-style: italic;
        text-decoration: underline;
    }
}

.post {
    font-size: 14px;
    line-height: 2;
}

.content {
    .short-diver {
        position: relative;
        margin-bottom: 60px;

        &:after {
            content: '';
            display: block;
            width: 40px;
            height: 4px;
            background: #eeeeee;
            margin: 60px auto 0;
        }
    }
}

// pagination
.pagination {
    font-size: 15px;
    margin-top: 20px;
    position: relative;
}

.newer-posts, .older-posts {
    position: absolute;
    top: 0;
    left: 0;
}

.older-posts {
    left: auto;
    right: 0;
}


.site-footer {
    max-width: 500px;
    width: 90%;
    padding: 20px 0;
    font-size: 12px;
    line-height: 1.3;
}

.site-footer p {
    margin: 0;
}

.site-footer:before {
    margin-bottom: 20px;
}

.go-to-top {
    // background-image: url('../assets/go-to-top.png');
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(400px);
    border: none;
    display: none;
    opacity: 0.8;
    transition: all 0.3s;

    &.less-opacity {
        opacity: 0.2;
    }

    &:hover {
        opacity: 1;
    }
}

// make the content center and given a width
.post-list .post,
.pagination,
.site-footer,
.single-post .post-content > h1,
.single-post .post-content > h2,
.single-post .post-content > h3,
.single-post .post-content > h4,
.single-post .post-content > h5,
.single-post .post-content > h6,
.single-post .post-content > p,
.single-post .post-content > ul,
.single-post .post-content > ol,
.single-post .post-content > blockquote,
.single-post .post-content .single-post-header,
.single-post .post-content > table,
.single-post .post-content > address,
.single-post .post-content > article,
.single-post .post-content > aside,
.single-post .post-content > canvas,
.single-post .post-content > dd,
.single-post .post-content > dl,
.single-post .post-content > fieldset,
.single-post .post-content > figcaption,
.single-post .post-content > figure,
.single-post .post-content > footer,
.single-post .post-content > form,
.single-post .post-content > header,
.single-post .post-content > hgroup,
.single-post .post-content > li,
.single-post .post-content > main,
.single-post .post-content > nav,
.single-post .post-content > noscript,
.single-post .post-content > output,
.single-post .post-content > section,
.single-post .post-content > tfoot,
.single-post .post-content > video,
.single-post .post-content > iframe,
.single-post .post-content > .tip,
.read-next {
    width: 90%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

// -----------------------------------------------------------------------------
// My Custom CSS

// Image not draggable
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// katex
.kdmath {
  text-align: center;
}

// Book
.single-book .post-content > h1,
.single-book .post-content > h2,
.single-book .post-content > h3,
.single-book .post-content > h4,
.single-book .post-content > h5,
.single-book .post-content > h6,
.single-book .post-content > p,
.single-book .post-content > ul,
.single-book .post-content > ol,
.single-book .post-content > blockquote,
.single-book .post-content .single-book-header,
.single-book .post-content > table,
.single-book .post-content > address,
.single-book .post-content > article,
.single-book .post-content > aside,
.single-book .post-content > canvas,
.single-book .post-content > dd,
.single-book .post-content > dl,
.single-book .post-content > fieldset,
.single-book .post-content > figcaption,
.single-book .post-content > figure,
.single-book .post-content > footer,
.single-book .post-content > form,
.single-book .post-content > header,
.single-book .post-content > hgroup,
.single-book .post-content > li,
.single-book .post-content > main,
.single-book .post-content > nav,
.single-book .post-content > noscript,
.single-book .post-content > output,
.single-book .post-content > section,
.single-book .post-content > tfoot,
.single-book .post-content > video,
.single-book .post-content > iframe,
.single-book .post-content > .tip {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}
.single-book h1.book-section-title {
    margin-left: 3rem;
    margin-right: 3rem;
}
.single-book li {
    margin: 0;
}
.single-book p,
.single-book ul,
.single-book ol,
.single-book dl {
    margin: 0 0 1.0em 0;
}
.single-book .post-content {
    font-size: 14px;
}
.single-book h1,
.single-book h2,
.single-book h3,
.single-book h4,
.single-book h5,
.single-book h6 {
    margin: 2.0rem 0 .5em 0;
}
.single-book figure {
    text-align: center;
}
// .single-book .post-content img {
//     cursor: inherit;
// }
.single-book pre code {
    display: block;
    font-size: 90%;
    width: 90%;
    max-width: 900px;
    margin: auto;
}
.single-book :not(pre) > code {
    font-size: 90%;
}
.single-book span.katex-html {
    font-size: 95%;
}

// TOC
.single-book #toc ol {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.single-book #toc summary {
    display: list-item;
}
.single-book #toc summary:hover {
    text-decoration: underline;
}
.single-book #toc ol.counter-set-1 { counter-set: subsection 1; }
.single-book #toc ol.counter-set-2 { counter-set: subsection 2; }
.single-book #toc ol.counter-set-3 { counter-set: subsection 3; }
.single-book #toc ol.counter-set-4 { counter-set: subsection 4; }
.single-book #toc ol.counter-set-5 { counter-set: subsection 5; }
.single-book #toc ol.counter-set-6 { counter-set: subsection 6; }
.single-book #toc ol.counter-set-7 { counter-set: subsection 7; }
.single-book #toc ol.counter-set-8 { counter-set: subsection 8; }
.single-book #toc ol.counter-set-9 { counter-set: subsection 9; }
.single-book #toc ol.counter-set-10 { counter-set: subsection 10; }
.single-book #toc ol.counter-set-11 { counter-set: subsection 11; }
.single-book #toc ol.counter-set-12 { counter-set: subsection 12; }
.single-book #toc ol {
    counter-reset: subsection;
    list-style-type: none;
}
.single-book #toc ol li:before {
    content: counters(subsection, ".") ". ";
    counter-increment: subsection;
}

// Series
.single-book .sections ol {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 550px;
}
.single-book .sections ol {
    counter-reset: section;
    list-style-type: none;
}
.single-book .sections ol li:before {
    counter-increment: section;
    content: "第 " counter(section) " 章: ";
}
