@charset "UTF-8";

/* Prism Customize CSS */

//--- Block code ---
pre {
    border: 1px solid #eeeeee;
    background: rgba(250,250,250,0.8);
}
pre[class*=language-] {
    background: #f5f2f0;
}
// 現サイトの記事の横幅に合わせる
pre code {
    display: block;
    width: 90%;
    max-width: 650px;
    margin: auto;
}

//--- Figures ---
// ASCII Art
.language-fig {
    font-size: 95%;
}

//--- Inline code ---
:not(pre) > code {
    padding: .1em;
    border-radius: .3em;
    border: 1px solid #eeeeee;
    background: rgba(250,250,250,0.8);
}

//--- Tokens ---
// 演算子の背景が白くなる問題を防ぐ
.token.operator {
    background: none;
}

// Propmtの部分「$」は色を薄くして選択・コピーできないようにする
.token.prompt {
    color: #999;
    user-select: none;
}

// 変数の文字色をデフォルトより少し黒くして見やすくする
.token.variable {
    color: #c27d02;
}
